@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Space+Grotesk:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgba(253, 253, 253, 1);
    font-family: 'Montserrat';
}
header {
    align-items: center;
}
.logo-header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    margin-left: 3%;
}
.logo-header img{
    height: 55px;
    width: 100%;
}
.nav-bar {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
}
.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 70%;
}
.nav-list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.nav-item {
    margin: 0 20px;
}
.nav-link {
    color: #09142D;
    font-family: 'Montserrat';
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}
.dropbtn {
    padding: 12px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    background-color: #FDFDFD;
    border-radius: 5px;
}
.dropdown {
    position: relative;
    display: inline-block;
    border-radius: 5px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FDFDFD;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: #09142D;
    border-radius: 5px;
}
.dropdown-content a {
    color: #09142D;
    font-weight: 500;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.show {
    display: block;
}
.mobile-menu-icon {
    display: none;
}
.mobile-menu {
    display: none;
}
#home{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgba(247, 252, 254, 1);
}
.textos-home{
    display: flex;
    flex-direction: column;
    width: 60%;
    max-height: auto;
    margin-top: 10%;
    margin-left: 5%;
}
#home-title{
    color: #09142D;
    font-family: 'Space Grotesk';
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 108.333%; /* 3.25rem */
}
.textos-home p{
    color: #09142D;
    font-family: 'Space Grotesk';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 3%;
}
.btn-home{
    color: #FDFDFD;
    font-family: 'Space Grotesk';
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background: #175274;
    padding: 15px 20px;
    border-radius: 5px;
    width: 30%;
    margin-top: 3%;
}
.btn-home:hover{
    background: #10374e;
    transition: all 0.3s ease-out;
}
#indicado{
    display: flex;
    flex-direction: row;
    max-height: auto;
    width: 100%;
    height: 100vh;
    background-color: rgba(253, 253, 253, 1);
}
.textos-indicado{
    display: flex;
    flex-direction: column;
    width: 40%;
    max-height: auto;
    margin-left: 5%;
    margin-top: 5%;
}
.textos-indicado h1{
    color: #09142D;
    font-family: 'Space Grotesk';
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 3%;
}
.desc-indicado{
    color: #09142D;
    font-family: 'Space Grotesk';
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5%;
}
.imagem-indicado{
    display: flex;
    width: 50%;
    max-height: auto;
    align-items: center;
    justify-content: center;
    background-image: url(imagens/8497398_3937432.svg);
    background-repeat: no-repeat;
    margin-left: 3%;
}
#preco{
    display: flex;
    flex-direction: row;
    max-height: auto;
    width: 100%;
    height: 80vh;
    background-color: rgba(214, 239, 251, 1);
}
.textos-preco{
    display: flex;
    flex-direction: column;
    width: 40%;
    max-height: auto;
    margin-left: 5%;
    margin-top: 5%;
}
.textos-preco h1{
    color: #00033D;
    font-family: 'Space Grotesk';
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 3%;
}
.desc-preco{
    color: #09142D;
    font-family: 'Space Grotesk';
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 3%;
}
.btn-preco{
    color: #FDFDFD;
    font-family: 'Space Grotesk';
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #175274;
    padding: 15px 20px;
    width: 40%;
    margin-top: 5%;
    border-radius: 5px;
}
.btn-preco:hover{
    background: #10374e;
    transition: all 0.3s ease-out;
}
.imagem-preco{
    display: flex;
    width: 50%;
    height: 500px;
    align-items: center;
    justify-content: center;
    margin-left: 45%;
}
.imagem-preco img{
    display: flex;
    height: 400px;
}
#teste{
    display: flex;
    flex-direction: row;
    max-height: auto;
    width: 100%;
    height: 80vh;
    background-color: rgba(238, 225, 223, 1);
}
.textos-teste{
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    width: 40%;
    max-height: auto;
    margin-left: 20%;
    margin-top: 5%;
    
}
.tittle-teste{
    color: #3B5EED;
    font-family: 'Space Grotesk';
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.textos-teste h1{
    color: #140A77;
    font-family: 'Space Grotesk';
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 3%;
}
.desc-teste{
    color: #09142D;
    font-family: 'Space Grotesk';
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 3%;
}
.imagem-teste{
    display: flex;
    width: 50%;
    height: 500px;
    max-height: auto;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
    mix-blend-mode: multiply;
}
.imagem-teste img{
    display: flex;
    height: 450px;
}
.btn-teste{
    color: #FDFDFD;
    font-family: 'Space Grotesk';
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #140A77;
    padding: 15px 20px;
    width: 40%;
    margin-top: 5%;
    border-radius: 5px;
}
.btn-teste:hover{
    background: #0f0755;
    transition: all 0.3s ease-out;
}
#sobre{
    display: flex;
    flex-direction: row;
    max-height: auto;
    width: 100%;
    height: 110vh;
    background-color: rgba(202, 239, 193, 1);
}
.textos-sobre{
    display: flex;
    flex-direction: column;
    width: 40%;
    max-height: auto;
    margin-left: 5%;
    margin-top: 5%;
}
.tittle-sobre{
    color: #3B5EED;
    font-family: 'Space Grotesk';
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.textos-sobre h1{
    color: #00033D;
    font-family: 'Space Grotesk';
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 3%;
}
.desc-sobre{
    color: #09142D;
    font-family: 'Space Grotesk';
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 3%;
}
.imagem-sobre{
    display: flex;
    width: 50%;
    max-height: auto;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    margin-left: 3%;
}
#quem-faz{
    display: flex;
    flex-direction: column;
    background-color: rgba(247, 252, 254, 1);
    height: 100vh;
}
.title-quem-faz{
    color: #00033D;
    font-family: 'Space Grotesk';
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    margin-left: 3%;
    margin-top: 3%;
}
.desenvolvedoresContainer{
    max-height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    gap: 80px;
}
.desenvUm,
.desenvDois{
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 35%;
    align-items: center;
    background-color: #FFF;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.25);
    border-radius: 15px;
}
.profile-img-desenv1,
.profile-img-desenv2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin-top: -15%;
    border-radius: 100%;
    background-color: #FFF;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}
.profile-img-desenv1 img,
.profile-img-desenv2 img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
.desenvUm h1,
.desenvDois h1{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    color: #1E1E1E;
    margin-top: 2%;
}
.desenvUm p,
.desenvDois p{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #1E1E1E;
    margin-top: 3%;
    margin-bottom: 5%;
    width: 80%;
}
#faq{
    background-color: #FDFDFD;
    max-height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5%;
}
.titulo-faq{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: auto;
    margin-top: 3%;
    justify-content: center;
}
.titulo-faq h1{
    color: #09142D;
    font-family: 'Space Grotesk';
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 5%;
}
/* Estilos para a lista de benefícios */
.benefits-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 3%;
    width: 90%;
    max-height: auto;
    margin-left: 3%;
  }
  
  /* Estilos para cada item da lista */
  .benefits-list li {
    background-color: #FDFDFD;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  /* Estilos para os detalhes do benefício (inicialmente ocultos) */
  .benefit-details {
    display: none;
    padding: 20px;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  /* Estilos para o título do benefício */
  .benefit-title {
    font-weight: 400;
    color: #1E1E1E;
    font-family: 'Space Grotesk';
  }
  
  /* Estilos para o título do benefício quando o item está expandido */
  .benefits-list li.active .benefit-title {
    color: #1E1E1E;
    font-weight: 500;
  }
  
  /* Estilos para os detalhes do benefício quando o item está expandido */
  .benefits-list li.active .benefit-details {
    display: block;
  }
  /* Adicione estilos ao botão de alternância */
  .titulo-faq-dois{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: auto;
    margin-top: 5%;
    align-items: flex-start;
    justify-content: center;
}
.titulo-faq-dois h1{
    color: #09142D;
    font-family: 'Space Grotesk';
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 3%;
}
.contato-faq{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: auto;
}
/* Estilo para o formulário de contato */
form {
    width: 40%;
    margin-left: 3%;
    margin-top: 3%;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-family: 'Space Grotesk';
    font-weight: 400;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Space Grotesk';
  }
  
  textarea {
    resize: vertical;
  }
  
  input[type="submit"] {
    background: #175274;
    color: #fff;
    font-weight: 600;
    width: 40%;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Space Grotesk';
  }
  
  input[type="submit"]:hover {
    background: #10374e;
  }
  
  /* Estilo para a mensagem de confirmação */
  .confirmation-message {
    color: #4CAF50;
    font-weight: bold;
  }
  
.imagem-contato-faq{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 400px;
    margin-left: 13%;
    margin-top: 3%;
    border-radius: 10px;
   
}
.imagem-contato-faq img{
    max-width: auto;
    height: 490px;
    
}
#contribua{
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 100%;
    background-color: rgba(214, 222, 241, 1);
}
.textos-contribua{
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    width: 40%;
    max-height: auto;
    margin-left: 3%;
    margin-top: 5%;
    
}
.textos-contribua h1{
    color: #283F04;
    font-family: 'Space Grotesk';
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 3%;
}
.desc-contribua{
    color: #283F04;
    font-family: 'Space Grotesk';
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 3%;
}
.imagem-contribua{
    display: flex;
    width: 50%;
    max-height: auto;
    align-items: center;
    justify-content: center;
    background-image: url(imagens/contribua1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 3%;
    margin-top: 8%;
    mix-blend-mode: multiply;
}
.btn-contribua{
    color: #FDFDFD;
    font-family: 'Space Grotesk';
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #283F04;
    padding: 15px 20px;
    width: 40%;
    margin-top: 5%;
    border-radius: 5px;
}
.btn-contribua:hover{
    background: #1c2c03;
    transition: all 0.3s ease-out;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 100%;
    background-color: rgba(52, 51, 51, 1);
}
footer h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    color: #FBFBFB;

}
.divisaoFooter{
    border: 5px solid #175274;
    width: 40%;
    margin-top: 2%;
}
.contFooter{
    width: 40%;
    margin-top: 3%;
    max-height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contFooter a,
.contFooter p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: #FBFBFB;
}
.imgFooter{
    height: 25px;
    display: flex;
    margin-top: 3%;
}
.footerDireitos{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
    color: #FBFBFB;
    margin-top: 1%;
}
.logo-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    max-height: auto;
    width: 100%;
}
.logo-footer img{
    display: flex;
    height: 70px;
    margin-right: 3%;
    margin-top: 5%;
}
@media (max-width: 768px) {
    .nav-bar {
        padding: 1rem 1.5rem;
    }
    .nav-item {
        display: none;
    }
    #mudarEstilo{
        display: none;
    }
    .mobile-menu-icon {
        display: block;
        margin-left: 20%;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .icon{
        height: 30px;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        align-items: center;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu #mudarEstilo{
        display: block;
        width: 50%;
        margin-top: 2%;
    }
    .mobile-menu #mudarEstilo:hover{
        scale: 1;
    }
    .open {
        display: block;
    }
    .logo-header{
        display: none;
    }
    .dropdown{
        display: none;
    }
    #home,
    #indicado,
    #preco,
    #teste{
        align-items: center;
        height: 40vh;
    }
    .textos-home,
    .textos-indicado,
    .textos-preco,
    .textos-teste{
        width: 100%;
        margin: 0;
    }
    .textos-home h1,
    .textos-indicado h1,
    .textos-preco h1{
        font-size: 1.5rem;
        margin-left: 2%;
    }
    .textos-home p,
    .textos-indicado p,
    .textos-preco p{
        font-size: 0.8rem;
        margin-left: 2%;
    }
    .btn-home,
    .btn-preco{
        font-size: 0.9rem;
        width: 50%;
        margin-left: 2%;
    }
    .imagem-indicado{
        display: none;
    }
    .imagem-preco{
        display: none;
    }
    .tittle-preco{
        font-size: 0.8rem;
    }
    .imagem-teste{
        display: none;
    }
    .textos-teste{
        width: 100%;
        margin: 0;
    }
    .textos-teste h1{
        font-size: 1.5rem;
        margin-right: 2%;
    }
    .textos-teste p{
        font-size: 0.8rem;
        margin-right: 2%;
    }
    .btn-teste{
        font-size: 0.9rem;
        width: 50%;
        margin-right: 2%;
    }
}
