@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Space+Grotesk:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgba(253, 253, 253, 1);
    font-family: 'Montserrat';
}
header {
    align-items: center;
    background-color:#1e6d9b;
}
.logo-header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    margin-left: 65%;
}
.logo-header img{
    height: 55px;
    width: 100%;
}
.nav-bar {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
}
.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 3%;
}
.nav-list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.nav-item {
    margin: 0 20px;
}
.nav-link {
    color: #fdfdfd;
    font-family: 'Montserrat';
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}
.dropbtn {
    padding: 12px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    background-color:#1e6d9b;
    border-radius: 5px;
    color: #FDFDFD;
}
.dropdown {
    position: relative;
    display: inline-block;
    border-radius: 5px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FDFDFD;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: #09142D;
    border-radius: 5px;
}
.dropdown-content a {
    color: #09142D;
    font-weight: 500;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.show {
    display: block;
}
.mobile-menu-icon {
    display: none;
}
.mobile-menu {
    display: none;
}
#destaques{
    display: flex;
    height: 170vh;
    flex-direction: column;
}
#destaques h1{
    font-family: "Space Grotesk";
    font-weight: 500;
    font-size: 1.8rem;
    margin-left: 3%;
    margin-top: 3%;
}
.container-destaques{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: auto;
    margin-top: 3%;
}
.fileiraUM{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 100%;
    max-height: auto;
    margin-top: 3%;
}
.cards{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    max-height: auto;
}
.card{
    width: 30%;
    height: 250px;
    background: #D9D9D9;
    box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.card img{
    height: 250px;
    border-radius: 10px;
}
.textos-card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    max-height: auto;
    margin-top: 2%;
}
.textos-card a{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #1E1E1E;
    width: 30%;
}
.fileiraDOIS{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 100%;
    max-height: auto;
    margin-top: 5%;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 100%;
    background-color: rgba(52, 51, 51, 1);
}
footer h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    color: #FBFBFB;

}
.divisaoFooter{
    border: 5px solid #175274;
    width: 40%;
    margin-top: 2%;
}
.contFooter{
    width: 40%;
    margin-top: 3%;
    max-height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contFooter a,
.contFooter p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: #FBFBFB;
}
.imgFooter{
    height: 25px;
    display: flex;
    margin-top: 3%;
}
.footerDireitos{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
    color: #FBFBFB;
    margin-top: 1%;
}
.logo-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    max-height: auto;
    width: 100%;
}
.logo-footer img{
    display: flex;
    height: 70px;
    margin-right: 3%;
    margin-top: 5%;
}